.App {
  text-align: center;
  padding: 1rem;
  color: #050A30;
  background-color: #A0E7E5;
  min-height: 100vh;
}

.movies-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


